.overview-component {
  white-space: pre-line;
  display: block;
  overflow: auto;
  height: 24vh;
  background-color: var(--white);
  border: 1px solid;
  border-radius: 4px;
  border-color: var(--light-grey);
  padding: 16px 20px;
  margin: 1vh 0;
}

.overview-component .title {
  font-weight: 700;
}
