#create-community .form-buttons {
  display: flex;
  justify-content: right;
}
.form-title {
  margin-top: 16px;
}
.form-title hr {
  margin-top: 0;
  border-color: var(--black);
}
.form-title p {
  font-weight: 700;
  margin: 0;
}
#create-community textarea {
  height: 122px;
}
