#community-header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: auto;
  width: 100%;
  background-color: var(--light-grey);
  height: 40vh;
  padding: 10px;
  padding: 0;
}

#community-header #community-info {
  height: 65px;
  background-color: var(--black);
  color: var(--white);
  bottom: 0;
}

#community-header #community-info #title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 30px;
}
#community-header #community-info #member-count {
  font-weight: bold;
  font-size: 12px;
}

#community-header #community-navbar {
  display: flex;
  height: 40px;
  background-color: var(--blue-grey);
}

#community-header #community-navbar .active {
  color: var(--yellow);
}

#community-header #community-navbar a {
  color: var(--white);
}

#community-header #community-navbar #settings {
  position: absolute;
  color: var(--white);
  right: 0;
  margin: 4px 8px;
}
#community-header #community-navbar div {
  display: inline-block;
  height: 40px;
  padding: 5px 10px;
  user-select: none;
}

#community-header #community-navbar div:hover {
  color: var(--yellow);
  cursor: pointer;
}

.member-list {
  height: 49vh;
}

.member-card {
  height: 40px;
  width: 100%;
  padding: 8px 2px;
  overflow: hidden;
}
.member-card:hover {
  background-color: var(--light-grey);
}
