.comCard {
    position: relative;
    padding: 100px;
    padding-bottom: 1px;
    margin-right: 3%;
    background-color: grey;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.comCard p {
    position: absolute;
    font-size: medium;
    font-weight: 600;
    vertical-align: bottom;
    bottom: 0;
    left: 0;
    margin: 0;
    margin-left: 2%;
}