p {
    margin-top: 15px;
    font-size: x-large;
    font-weight: 600;
}
.EventBanner {
    background-color: grey;
    padding: 70px;
    border-radius: 10px;
    border: 0.5px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.BannerContainer {
    position: relative;
}