.MyComHome {
    margin-top: 15px;
  }
  
  .MyComHome p{
    display: table-cell;
    padding: 2px;
    font-weight: 500;
  }

  .viewAll a{
    color: grey;
    text-decoration: none;
    font-size: small;
    font-weight: 400
  }

  .viewAll a:hover {
    text-decoration: underline;
  }

  .cardRow {
      display: flex;
  }