@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

#navbar-main #navbar-title {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
#navbar-main #nav-text-circle {
  color: var(--white);
}
#navbar-main #nav-text-ui {
  color: var(--yellow);
}
