.myComCard {
    position: relative;
    padding: 60px;
    padding-left: 100px;
    padding-right: 100px;
    margin-right: 15px;
    margin-bottom: 2%;
    background-color: grey;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.myComCard p{
    position: absolute;
    margin-left: 1%;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    font-size: medium;
    font-weight: 600;
}



