#profile {
  margin-top: 20vh;
}

.avatar-component {
   display: flex;
   justify-content: center;
   margin-top: 7rem;
}

 .avatar {
   max-width: 175px;
   max-height: 175px;
   border-radius: 50%;
  }

  .setting,.tiktok, .twitter, .instagram, .linkedin {
   max-width: 32px;
   max-height: 32px;
 }

.profile-upper-component {
  height: 200px;
  display: flex;
  margin-left: 1.5rem;
 }

 .profile-upper-component-child {
   color: var(--white);
   align-self: flex-end;
   font-size: 300%;
 }

 .profile-upper-component-child-2 {
   float: right;
   padding-right: 1rem;
   font-size: 300%;
 }
 
.profile-lower-component {
  height: 200px;
  display: flex;
  flex-flow: column wrap;
  margin-left: 1.5rem;
 }
 
 .profile-lower-component-child {
   color: var(--black);
   align-self: flex-start;
   font-size: 1.5rem;
 }

.col-padding-1-color {
   border-radius: 1rem 0 0 1rem;
   padding-right:0;
   padding-left:0;
   background: linear-gradient(180deg, var(--dark-grey) 50%, var(--white) 0%);
}

.col-padding-2-color {
   padding-right:0;
   padding-left:0;
   background: linear-gradient(180deg, var(--dark-grey) 50%, var(--white) 0%);
}

.col-padding-3-color {
   border-radius: 0 1rem 1rem 0;
   padding-right:0;
   padding-left:0;
   background: linear-gradient(180deg, var(--dark-grey) 50%, var(--white) 0%);
}

.col-padding-0 {
   padding-right:0;
   padding-left:0; 
}
