@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;700&family=Nunito:wght@700&display=swap");
#root {
  font-family: "Epilogue", sans-serif;
  background-color: var(--off-white);
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.button-primary {
  background-color: var(--yellow);
  margin: 4px;
  height: 38px;
  width: 130px;
  border: none;
  border-radius: 8px;
}

.button-secondary {
  background-color: var(--black);
  color: white;
  margin: 4px;
  height: 38px;
  width: 130px;
  border: none;
  border-radius: 8px;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
