a {
  text-decoration: none;
}

.auth__container {
  width: 60%;
  text-align: center;
  margin: 10rem auto 0rem;
}

.form__login {
  width: 40%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
}

.form__login input {
  height: 3rem;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
  border-radius: 10px;
}

#login_button {
  width: 7rem;
  font-size: 1.35rem;
  margin: 1.5rem auto;
}

.redirect__container {
  width: 40%;
  margin: auto;
  padding-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
}

.redirect__container p {
  margin: auto;
}